<footer class="border container flex">
  <div id="disclaimer">
    <p>
      User-generated text content is available under the 
      <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International license</a> 
      unless otherwise noted. All brands including associated copyrights and trademarks belong to their respective owners.
    </p>
    <ul>
      <li>Site last updated on {{ now.Format "January 2, 2006 at 3:04pm MST" }}</li>
      {{ $privacy := (site.GetPage "privacy.md").RelPermalink }}
      <li><a href="{{ $privacy }}">Privacy</a></li>
      <li><a href="https://www.github.com/stripesfensky/ballcrawl">Source</a></li>
    </ul>
  </div>
  <object class="brandmark" type="image/svg+xml" data="{{ .RelPermalink }}"></object>
</footer>
