<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css">
    {{ $style := resources.Get "style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ $logo := resources.Get "logo.svg" | minify | fingerprint }}
    <link rel="icon" href="{{ $logo.RelPermalink }}" type="image/svg+xml">
    {{ $js := resources.Get "ballcrawl.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}" defer></script>
  </head>
  <body class="preload">
    {{ partial "header.html" $logo }}
    <main class="container">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" $logo }}
  </body>
</html>
