<!DOCTYPE html>
<html>
  <head>
    <title>The Ball Crawl | Community Database for PTT, SPP, and CEC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="icon" href="logo.svg" type="image/svg+xml">
    <script src="ballcrawl.js"></script>
  </head>
  <body>
    <header class="brd">
      <div id="header" class="mw pd flx">
        <div id="header-logo">
          <object id="header-logo-brandmark" class="logo-brandmark" type="image/svg+xml" data="logo.svg"></object>
          <h1 id="header-logo-wordmark">
            <span id="header-logo-wordmark-rg">the ball crawl</span>
            <span id="header-logo-wordmark-sm">tbc</span>
          </h1>
        </div>
        <div id="header-search">
          <div class="header-button btn flx" title="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        <div id="header-darklight-toggle">
          <div class="header-button btn flx" title="Toggle Dark/Light">
            <i class="fa-solid fa-moon"></i>
          </div>
        </div>
      </div>
    </header>
    <nav class="nav-section-hidden">
      <div id="nav" class="mw pd flx">
        <div id="nav-search" class="nav-hidden">
          <i class="fa-solid fa-magnifying-glass i-mg"></i>
          <label for="nav-search-bar" hidden>Search</label>
          <input id="nav-search-bar" type="text" placeholder="Search The Ball Crawl..."/>
        </div>
      </div>
    </nav>
    <main class="flx">
      <div id="main" class="mw pd">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </div>
    </main>
    <footer class="brd">
      <div id="footer" class="mw pd flx">
        <div id="footer-disclaimer">
          <p>
            User-generated text content is available under the 
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International license</a> 
            unless otherwise noted. All brands including associated copyrights and trademarks belong to their respective owners.
          </p>
          <ul>
            <li>Last modified {{ now.Format "January 2, 2006 at 3:04pm MST" }}</li>
            <li><a href="https://www.github.com/stripesfensky/ballcrawl">Source</a></li>
          </ul>
        </div>
        <div id="footer-logo">
          <object id="footer-logo-brandmark" class="logo-brandmark" type="image/svg+xml" data="logo.svg"></object>
        </div>
      </div>
    </footer>
  </body>
</html>
