@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css');

:root {
  --red: #E13D3D;
  --yellow: #FEC24D;
  --green: #50BB85;
  --purple: #8F79EC;
  --blue: #32b1ec;

  --randomA: var(--red);
  --randomB: var(--yellow);
  --randomC: var(--green);
  --randomD: var(--purple);

  --dark-header-background: #222222;
  --dark-nav-background: #343434;
  --dark-nav-button: #545454;
  --dark-main-background: #101010;
  --dark-main-color: #FAFAFA;

  --light-header-background: #FAFAFA;
  --light-nav-background: #EFEFEF;
  --light-nav-button: #CDCDCD;
  --light-main-background: #FFFFFF;
  --light-main-color: #101010;

  --header-background: var(--dark-header-background);
  --nav-background: var(--dark-nav-background);
  --nav-button: var(--dark-nav-button);
  --main-background: var(--dark-main-background);
  --main-color: var(--dark-main-color);

  --font: 'Comic Neue', sans-serif;
  --base-font-size: 1.1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: var(--base-font-size);
}

p {
  margin-bottom: var(--base-font-size);
}

.brand-border {
  border-image: linear-gradient(
    to right, 
    var(--randomA) 0% 25%, 
    var(--randomB) 25% 50%, 
    var(--randomC) 50% 75%, 
    var(--randomD) 75% 100%
  ) 1;
}

.button {
  appearance: none;
  -webkit-tap-highlight-color: transparent; 
}

.button:hover {
  transition: background-color 0.2s;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.marginwidth {
  margin: 0 auto;
  width: min(960px, 100vw);
}

.padding {
  padding: var(--base-font-size) calc(var(--base-font-size) * 2);
}

html {
  visibility: hidden;
  font-family: var(--font);
  font-size: var(--base-font-size);
}

body {
  background-color: var(--main-background);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

header {
  background-color: var(--header-background);
  border-bottom: calc(var(--base-font-size) * 0.4) solid;
}

#header {
  gap: calc(var(--base-font-size) * 0.5);
  padding-top: calc(var(--base-font-size) * 0.6);
}

#header-logo {
  align-items: center;
  display: flex;
  flex: 1;
  gap: var(--base-font-size);
}

#header-logo-brandmark {
  height: calc(var(--base-font-size) * 3);
  max-height: calc(var(--base-font-size) * 3);
  width: calc(var(--base-font-size) * 3);
}

#header-logo-wordmark {
  cursor: default;
  margin: 0;
  padding-top: calc(var(--base-font-size) * 0.5);
}

#header-logo-wordmark-small {
  display: none;
}

.header-button {
  background-color: var(--nav-background);
  border-radius: var(--base-font-size);
  font-size: var(--base-font-size);
  height: var(--base-font-size);
  margin-top: calc(var(--base-font-size) * 0.7);
  padding: var(--base-font-size);
  width: var(--base-font-size);
}

.header-button:active {
  cursor: pointer;
  background-color: var(--randomB);
}

@media (hover: hover) {
  .header-button:hover {
    cursor: pointer;
    background-color: var(--randomB);
  }
}

nav {
  align-items: center;
  background-color: var(--nav-background);
  display: flex;
  height: calc(var(--base-font-size) * 4.2);
  overflow: hidden;
  transition: height 600ms ease;
}

.nav-section-hidden {
  height: 0;
  transition: height 600ms ease;
}

#nav {
  flex-direction: column; 
}

#nav-search {
  position: relative;
  width: 100%;
}

#nav-search i {
  position: absolute;
  margin-left: calc(100% - calc(var(--base-font-size) * 2));
  margin-top: calc(var(--base-font-size) * 0.6);
}

#nav-search-bar {
  background: none;
  border: calc(var(--base-font-size) * 0.15) solid var(--main-color);
  border-radius: calc(var(--base-font-size) * 2);
  color: var(--main-color);
  font-family: var(--font);
  font-size: calc(var(--base-font-size) * 0.75);
  outline: none;
  padding: calc(var(--base-font-size) * 0.5) var(--base-font-size);
  padding-right: calc(var(--base-font-size) * 2.2);
  width: 100%;
}

#nav-search-bar::placeholder {
  color: var(--main-color);
}

#nav-settings {
  font-size: calc(var(--base-font-size) * 0.75);
  gap: calc(var(--base-font-size) * 0.5);
  min-width: 100%;
}

#nav-profile, #nav-logout, #nav-profile:hover, #nav-logout:hover {
  color: var(--main-color);
  text-decoration: none;
}

#nav-user-info {
  flex: 1;
}

.nav-hidden {
  display: none;
}

.nav-button {
  background-color: var(--nav-button);
  border-radius: calc(var(--base-font-size) * 0.75);
  font-size: calc(var(--base-font-size) * 0.75);
  height: calc(var(--base-font-size) * 0.75);
  padding: calc(var(--base-font-size) * 0.75);
  width: calc(var(--base-font-size) * 0.75);
}

.nav-button:active {
  cursor: pointer;
  background-color: var(--randomC);
}

@media (hover: hover) {
  .nav-button:hover {
    cursor: pointer;
    background-color: var(--randomC);
  }
}

main {
  flex: 1;
  height: 100%;
}

#main {
  padding-top: calc(var(--base-font-size) * 3);
  padding-bottom: calc(var(--base-font-size) * 3);
}

footer {
  background-color: var(--header-background);
  border-top: calc(var(--base-font-size) * 0.4) solid;
}

#footer {
  gap: calc(var(--base-font-size) * 2);
}

#footer-disclaimer {
  flex: 1;
  font-size: calc(var(--base-font-size) * 0.75);
}

#footer-disclaimer p {
  margin-bottom: calc(var(--base-font-size) * 0.5);
}

#footer-logo-brandmark {
  height: calc(var(--base-font-size) * 3);
  max-height: calc(var(--base-font-size) * 3);
  padding-bottom: calc(var(--base-font-size) * 0.5);
  width: calc(var(--base-font-size) * 3);
}

#footer-disclaimer ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

#footer-disclaimer li:not(:last-child)::after {
  content: "|";
  margin: 0 calc(var(--base-font-size) * 0.2);
}

@media (width < 640px) {
  #header-logo-wordmark-regular {
    display: none;
  }
  #header-logo-wordmark-small {
    display: inherit;
  }
  #footer-logo-brandmark {
    height: 0;
    overflow: hidden;
    width: 0;
  }
}

@media (width < 384px) {
  html {
    overflow-x: hidden;
  }
  #header-logo-wordmark-small {
    display: none;
  }
}
